<ion-content class="ion-padding">
    <div class="wrap-middle-align">
        <img src="assets/images/welcome/shopping_workflow.png" alt="" />
        <h1 class="title">
            Welcome to <br />
            <span class="container__block__span">SnapShop&#174;</span>
        </h1>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
        <ion-button expand="block" (click)="_openModalSignUp();" class="btn btn--dark ion-margin-top">
            Signup
        </ion-button>
        <ion-button expand="block" (click)="_openModalLogin();" class="btn btn--light btn--custom-margin-top">
            Login
        </ion-button>
    </div>
</ion-content>