<ion-header class="ion-no-border">
    <div class="line"></div>
</ion-header>

<ion-content class="container">
    <h1 class="title-top container__title">Forgot Password</h1>
    <p class="paragraph container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/message.svg" alt="">
        <ion-input style="padding-left: 3rem;" type="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-black container__btn">Send</ion-button>
</ion-content>