/*
 * Colors
 */

.ion-color-deep {
    --ion-color-base: var(--ion-color-deep);
    --ion-color-base-rgb: var(--ion-color-deep-rgb);
    --ion-color-contrast: var(--ion-color-deep-contrast);
    --ion-color-contrast-rgb: var(--ion-color-deep-contrast-rgb);
    --ion-color-shade: var(--ion-color-deep-shade);
    --ion-color-tint: var(--ion-color-deep-tint);
  }