<ion-header class="ion-no-border">
    <div class="line"></div>
</ion-header>

<ion-content class="container">
    <img src="assets/images/recoverPassword/mail_vector.svg" class="container__img" alt="">
    <h1 class="title-top container__title">Check your mail</h1>
    <p class="paragraph container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    <ion-button expand="block" class="btn-black container__btn">Open email app</ion-button>
    <ion-label class="paragraph container__text-skip">Skip, i'll confirm later</ion-label>
    <p class="paragraph container__text-question">Did not receive the email? Check you scam filter or try again</p>
</ion-content>