<ion-header class="ion-no-border">
    <div class="line"></div>
</ion-header>

<ion-content class="container">
    <h1 class="title-top container__title">Create Account</h1>
    <p class="paragraph container__text">Already have an account? <span class="container__span">Sign Up</span></p>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/user.svg" class="container__input-img" alt="">
        <ion-input type="text" placeholder="First name"></ion-input>
    </ion-item>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/user.svg" class="container__input-img" alt="">
        <ion-input type="text" placeholder="Last name"></ion-input>
    </ion-item>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/message.svg" class="container__input-img" alt="">
        <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/telephone.svg" class="container__input-img" alt="">
        <ion-input type="text" placeholder="Phone number"></ion-input>
    </ion-item>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/point.svg" class="container__input-img" alt="">
        <ion-input type="text" placeholder="City"></ion-input>
    </ion-item>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/point.svg" class="container__input-img" alt="">
        <ion-input type="text" placeholder="Postal code"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-black container__btn">Sign Up</ion-button>
</ion-content>