.container {
    position: absolute;
    top: 3.5rem;
    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 35px;
    }
    &__text {
        text-align: center;
        width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &__input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 2rem;
        font-weight: 400;
        font-size: 1rem;
        --ion-item-background: #F3F3F3;
        --padding-top: .3rem;
        ion-input {
            --padding-start: .5rem;
            color: #8189B0;
        }
    }
    &__input-confirm {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: .7rem;
        font-weight: 400;
        font-size: 1rem;
        --ion-item-background: #F3F3F3;
        --padding-top: .3rem;
        ion-input {
            --padding-start: .5rem;
            color: #8189B0;
        }
    }
    &__btn {
        width: 90%;
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
}