<ion-header class="ion-no-border">
    <div class="line"></div>
</ion-header>

<ion-content class="container">
    <h1 class="title-top container__title">Create New password</h1>
    <p class="paragraph container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
    <ion-item class="input container__input" lines="none">
        <img src="assets/images/input_icons/password.svg" alt="">
        <ion-input style="padding-left: 3rem;" type="email" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item class="input container__input-confirm" lines="none">
        <img src="assets/images/input_icons/password.svg" alt="">
        <ion-input style="padding-left: 3rem;" type="email" placeholder="Confirm Password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-black container__btn">Reset Password</ion-button>
</ion-content>